.card {
  height: 300px;
  width: 200px;
  background: whitesmoke;
  font-size: 70px;
  font-weight: 500;
  color: rgb(42, 30, 53);
  box-shadow: 0 10px 20px rgba($color: #000000, $alpha: 0.15);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

